---
---

<div style="margin-right: 10px;">
	<p class="odyssey-logo">Jorge Ochipinti</p>
</div>

<style>
	.odyssey-logo {
		width: fit-content;
		margin: 0;
		font-family:'Lato';
		font-size: var(--font-size-md);
		color: inherit;
		font-weight: bold;
	}
	.odyssey-logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
</style>
